#chanel-name {
  font-weight: 700;
}
ul {
  list-style: none;
}
p {
  text-align: justify;
}
img {
  background-size: cover;
}
#post {
  font-size: small;
}

/* btn */

.like-active {
  color: #ff0063;
}
.retweet-active{
  color: #00ff88;
}